#navbar {
    height: 170px;
}

#navbar-container {
    padding: 5px 0;
}

#navbar-items {
    font-size: 12px;
    flex-direction: column;
    text-align: center;
    width: 80%;
}

#navbar-items li:nth-child() {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

/* Showcase */
#showcase-container {
    padding: 80px;
}

/* Features */
#features-container {
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2) {
    margin: 15px 0;
}

#singers-container {
    grid-template-columns: 1fr;
}

.singers-image {
    width: 100%;
}

#projects-container {
    grid-template-columns: 1fr;
}

.singers-image {
    width: 100%;
}